.container {
  display: grid;
  height: 600px;
  background-color: burlywood;
  gap: 10px;
  grid-template-areas:
    "header header "
    "menu content "
    " menu  . "
    "box1 .";
}

header {
  background-color: darkmagenta;
  grid-area: header;
}

section {
  background-color: rgb(64, 182, 182);
  grid-area: content;
}
aside {
  background-color: blueviolet;
  grid-area: menu;
}

.box-1 {
  background-color: coral;
  grid-area: box1;
}
.box-2 {
  background-color: darkcyan;
}
.box-3 {
  background-color: rgb(32, 100, 32);
}
